[Unit]
Description= Nagios Service
After=network.target

[Service]
Type=simple
User=mario
Group=mario
WorkingDirectory=/home/mario/Documents/GitHub/rabbitmqphp_example/dmz
ExecStart=/usr/bin/php
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
