/* screen - frame-3 */

.frame-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2764px;
  overflow: hidden;
  padding: 62px 0;
  width: 1667px;
}

.frame-3 .sudo-squad-sub-manager {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 45px;
  min-height: 28px;
  white-space: nowrap;
}

.frame-3 .my-account {
  -webkit-text-stroke: 1px var(--black);
  align-self: center;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-right: 2.0px;
  margin-top: 134px;
  min-height: 28px;
  min-width: 339px;
  white-space: nowrap;
}

.frame-3 .search-subscriptions {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 45px;
  margin-top: 155px;
  min-height: 42px;
  width: 603px;
}

.frame-3 .frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 117px;
  margin-left: 46px;
  margin-top: 72px;
  padding: 25px 37px;
  width: 1247px;
}

.frame-3 .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 602px;
  margin-left: 12.0px;
  margin-top: 88px;
  min-width: 1589px;
}

.frame-3 .active-subscriptions {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 27.5px;
  margin-bottom: 4.0px;
  min-height: 42px;
  width: 603px;
}

.frame-3 .frame-4 {
  align-items: flex-end;
  background-color: #c7c7c7;
  border-radius: 100px;
  display: flex;
  height: 136px;
  overflow: hidden;
  padding: 0 104px;
  width: 384px;
}

.frame-3 .add {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-bottom: -48px;
  min-height: 137px;
  width: 176px;
}

.frame-3 .frame-5 {
  align-items: flex-end;
  background-color: #c9c6c6;
  border-radius: 70px;
  display: flex;
  height: 140px;
  margin-left: 36px;
  margin-top: 49px;
  overflow: hidden;
  padding: 1px 0;
  width: 312px;
}

.frame-3 .sort-by {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 80px;
  min-height: 84px;
  width: 420px;
}

.frame-3 .price {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-right: -42px;
  margin-top: 154px;
  min-height: 74px;
  width: 387px;
}

.frame-3 .overlap-group {
  height: 416px;
  margin-left: 46px;
  margin-top: 19px;
  position: relative;
  width: 1336px;
}

.frame-3 .example {
  left: 0;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 0;
  width: 649px;
}

.frame-3 .visa-9765 {
  left: 0;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 137px;
  width: 1336px;
}

.frame-3 .end-oct-25th-2024 {
  left: 0;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 268px;
  width: 649px;
}

.frame-3 .overlap-group2 {
  align-self: flex-end;
  height: 417px;
  margin-right: -46px;
  margin-top: 167px;
  position: relative;
  width: 1677px;
}

.frame-3 .overlap-group1 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1339px;
}

.frame-3 .discover-8787 {
  left: 3px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 132px;
  width: 1336px;
}

.frame-3 .end-oct-27th-2024 {
  left: 10px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 268px;
  width: 649px;
}

.frame-3 .price-1 {
  left: 1290px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  top: 0;
  width: 387px;
}
