/* screen - homeepage */

.homeepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2138px;
  padding: 162px 84px;
  width: 1440px;
}

.homeepage .nav-bar {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 28px;
  min-width: 1269px;
}

.homeepage .sudo-squad-sub-manager {
  -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 28px;
  white-space: nowrap;
}

.homeepage .login-here {
  -webkit-text-stroke: 1px #7e4949;
  align-self: center;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 233.0px;
  margin-top: 224px;
  min-height: 28px;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: 417px;
}

.homeepage .username {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 68px;
  margin-top: 179px;
  min-height: 46px;
  width: 234px;
}

.homeepage .frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 92px;
  margin-left: 68px;
  margin-top: 25px;
  padding: 25px 37px;
  width: 686px;
}

.homeepage .type-here {
  color: #8e8e8e;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 39px;
  width: 612px;
}

.homeepage .password {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 68px;
  margin-top: 83px;
  min-height: 46px;
  width: 234px;
}

.homeepage .frame-1-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 92px;
  margin-left: 68px;
  margin-top: 64px;
  padding: 25px 37px;
  width: 686px;
}

.homeepage .type-here-1 {
  color: #979797;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 39px;
  width: 612px;
}
