/* screen - homeepage */

.homeepage {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 2138px;
  overflow: hidden;
  padding: 98px 0;
  width: 1440px;
}

.homeepage .nav-bar {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 28px;
  margin-left: 3.0px;
  margin-top: 64px;
  min-width: 1269px;
}

.homeepage .sudo-squad-sub-manager {
  -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 28px;
  white-space: nowrap;
}

.homeepage .sign-up-here {
  -webkit-text-stroke: 1px var(--ironstone);
  align-self: center;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 127.0px;
  margin-top: 222px;
  min-height: 28px;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: 417px;
}

.homeepage .username {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 152px;
  margin-top: 181px;
  min-height: 46px;
  width: 234px;
}

.homeepage .email {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 152px;
  margin-top: 176px;
  min-height: 46px;
  width: 234px;
}

.homeepage .password {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 152px;
  margin-top: 190px;
  min-height: 46px;
  width: 234px;
}

.homeepage .confirm-password {
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 152px;
  margin-top: 210px;
  min-height: 46px;
  width: 632px;
}

.homeepage .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 139px;
  height: 30px;
  margin-right: -108px;
  margin-top: 629px;
  min-width: 1462px;
}

.homeepage .already-a-member {
  -webkit-text-stroke: 1px var(--ironstone);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 28px;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: 906px;
}

.homeepage .login-here {
  -webkit-text-stroke: 1px var(--ironstone);
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 28px;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}
